In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.1/14.3 MB 1.3 MB/s eta 0:00:11
    --------------------------------------- 0.2/14.3 MB 2.0 MB/s eta 0:00:08
    --------------------------------------- 0.3/14.3 MB 1.7 MB/s eta 0:00:09
    --------------------------------------- 0.3/14.3 MB 1.6 MB/s eta 0:00:09
    --------------------------------------- 0.3/14.3 MB 1.4 MB/s eta 0:00:10
   - -------------------------------------- 0.4/14.3 MB 1.3 MB/s eta 0:00:11
   - -------------------------------------- 0.4/14.3 MB 1.2 MB/s eta 0:00:12
   - -------------------------------------- 0.5/14.3 MB 1.2 MB/s eta 0:00:12
   - -------------------------------------- 0.5/14.3 MB 1.1 MB/s eta 0:00:13
   - -------------------------------------- 0.5/14.3 MB 1.1 MB/s eta 0:00:13
   - -------------------------------------- 0.6/14.3 MB 1.1 MB/s eta 0:00:13
   - -------------------------------------- 0.6/14.3 MB 1.1 MB/s eta 0:00:13
   - -------------------------------------- 0.7/14.3 MB 1.1 MB/s eta 0:00:13
   -- ------------------------------------- 0.7/14.3 MB 1.1 MB/s eta 0:00:13
   -- ------------------------------------- 0.8/14.3 MB 1.1 MB/s eta 0:00:13
   -- ------------------------------------- 0.9/14.3 MB 1.1 MB/s eta 0:00:12
   -- ------------------------------------- 0.9/14.3 MB 1.2 MB/s eta 0:00:12
   -- ------------------------------------- 1.0/14.3 MB 1.2 MB/s eta 0:00:12
   --- ------------------------------------ 1.1/14.3 MB 1.2 MB/s eta 0:00:11
   --- ------------------------------------ 1.2/14.3 MB 1.3 MB/s eta 0:00:11
   --- ------------------------------------ 1.4/14.3 MB 1.4 MB/s eta 0:00:10
   ---- ----------------------------------- 1.5/14.3 MB 1.5 MB/s eta 0:00:09
   ---- ----------------------------------- 1.6/14.3 MB 1.5 MB/s eta 0:00:09
   ---- ----------------------------------- 1.8/14.3 MB 1.6 MB/s eta 0:00:09
   ----- ---------------------------------- 2.0/14.3 MB 1.6 MB/s eta 0:00:08
   ----- ---------------------------------- 2.1/14.3 MB 1.7 MB/s eta 0:00:08
   ------ --------------------------------- 2.2/14.3 MB 1.7 MB/s eta 0:00:08
   ------ --------------------------------- 2.3/14.3 MB 1.7 MB/s eta 0:00:08
   ------ --------------------------------- 2.4/14.3 MB 1.7 MB/s eta 0:00:07
   ------ --------------------------------- 2.5/14.3 MB 1.7 MB/s eta 0:00:07
   ------ --------------------------------- 2.5/14.3 MB 1.7 MB/s eta 0:00:07
   ------- -------------------------------- 2.6/14.3 MB 1.7 MB/s eta 0:00:07
   ------- -------------------------------- 2.7/14.3 MB 1.7 MB/s eta 0:00:07
   ------- -------------------------------- 2.8/14.3 MB 1.7 MB/s eta 0:00:07
   ------- -------------------------------- 2.8/14.3 MB 1.7 MB/s eta 0:00:07
   ------- -------------------------------- 2.9/14.3 MB 1.7 MB/s eta 0:00:07
   -------- ------------------------------- 2.9/14.3 MB 1.7 MB/s eta 0:00:07
   -------- ------------------------------- 3.0/14.3 MB 1.7 MB/s eta 0:00:07
   -------- ------------------------------- 3.1/14.3 MB 1.7 MB/s eta 0:00:07
   -------- ------------------------------- 3.2/14.3 MB 1.6 MB/s eta 0:00:07
   -------- ------------------------------- 3.2/14.3 MB 1.6 MB/s eta 0:00:07
   --------- ------------------------------ 3.3/14.3 MB 1.6 MB/s eta 0:00:07
   --------- ------------------------------ 3.3/14.3 MB 1.6 MB/s eta 0:00:07
   --------- ------------------------------ 3.4/14.3 MB 1.6 MB/s eta 0:00:07
   --------- ------------------------------ 3.4/14.3 MB 1.6 MB/s eta 0:00:07
   --------- ------------------------------ 3.5/14.3 MB 1.6 MB/s eta 0:00:07
   ---------- ----------------------------- 3.6/14.3 MB 1.6 MB/s eta 0:00:07
   ---------- ----------------------------- 3.7/14.3 MB 1.6 MB/s eta 0:00:07
   ---------- ----------------------------- 3.8/14.3 MB 1.6 MB/s eta 0:00:07
   ---------- ----------------------------- 3.8/14.3 MB 1.6 MB/s eta 0:00:07
   ---------- ----------------------------- 3.9/14.3 MB 1.6 MB/s eta 0:00:07
   ---------- ----------------------------- 3.9/14.3 MB 1.6 MB/s eta 0:00:07
   ----------- ---------------------------- 4.0/14.3 MB 1.6 MB/s eta 0:00:07
   ----------- ---------------------------- 4.0/14.3 MB 1.6 MB/s eta 0:00:07
   ----------- ---------------------------- 4.1/14.3 MB 1.6 MB/s eta 0:00:07
   ----------- ---------------------------- 4.1/14.3 MB 1.6 MB/s eta 0:00:07
   ----------- ---------------------------- 4.2/14.3 MB 1.6 MB/s eta 0:00:07
   ----------- ---------------------------- 4.2/14.3 MB 1.6 MB/s eta 0:00:07
   ----------- ---------------------------- 4.3/14.3 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.4/14.3 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.4/14.3 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.5/14.3 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.5/14.3 MB 1.5 MB/s eta 0:00:07
   ------------ --------------------------- 4.6/14.3 MB 1.5 MB/s eta 0:00:07
   ------------- -------------------------- 4.7/14.3 MB 1.5 MB/s eta 0:00:07
   ------------- -------------------------- 4.8/14.3 MB 1.5 MB/s eta 0:00:07
   ------------- -------------------------- 4.9/14.3 MB 1.5 MB/s eta 0:00:07
   ------------- -------------------------- 4.9/14.3 MB 1.5 MB/s eta 0:00:07
   -------------- ------------------------- 5.0/14.3 MB 1.5 MB/s eta 0:00:07
   -------------- ------------------------- 5.1/14.3 MB 1.5 MB/s eta 0:00:06
   -------------- ------------------------- 5.2/14.3 MB 1.6 MB/s eta 0:00:06
   -------------- ------------------------- 5.3/14.3 MB 1.6 MB/s eta 0:00:06
   -------------- ------------------------- 5.4/14.3 MB 1.6 MB/s eta 0:00:06
   --------------- ------------------------ 5.4/14.3 MB 1.6 MB/s eta 0:00:06
   --------------- ------------------------ 5.5/14.3 MB 1.5 MB/s eta 0:00:06
   --------------- ------------------------ 5.5/14.3 MB 1.5 MB/s eta 0:00:06
   --------------- ------------------------ 5.6/14.3 MB 1.5 MB/s eta 0:00:06
   --------------- ------------------------ 5.7/14.3 MB 1.5 MB/s eta 0:00:06
   --------------- ------------------------ 5.7/14.3 MB 1.5 MB/s eta 0:00:06
   ---------------- ----------------------- 5.8/14.3 MB 1.5 MB/s eta 0:00:06
   ---------------- ----------------------- 5.9/14.3 MB 1.5 MB/s eta 0:00:06
   ---------------- ----------------------- 5.9/14.3 MB 1.5 MB/s eta 0:00:06
   ---------------- ----------------------- 6.0/14.3 MB 1.5 MB/s eta 0:00:06
   ----------------- ---------------------- 6.1/14.3 MB 1.5 MB/s eta 0:00:06
   ----------------- ---------------------- 6.2/14.3 MB 1.5 MB/s eta 0:00:06
   ----------------- ---------------------- 6.2/14.3 MB 1.5 MB/s eta 0:00:06
   ----------------- ---------------------- 6.3/14.3 MB 1.5 MB/s eta 0:00:06
   ----------------- ---------------------- 6.3/14.3 MB 1.5 MB/s eta 0:00:06
   ----------------- ---------------------- 6.4/14.3 MB 1.5 MB/s eta 0:00:06
   ----------------- ---------------------- 6.4/14.3 MB 1.5 MB/s eta 0:00:06
   ------------------ --------------------- 6.5/14.3 MB 1.5 MB/s eta 0:00:06
   ------------------ --------------------- 6.6/14.3 MB 1.5 MB/s eta 0:00:06
   ------------------ --------------------- 6.6/14.3 MB 1.5 MB/s eta 0:00:06
   ------------------ --------------------- 6.7/14.3 MB 1.5 MB/s eta 0:00:06
   ------------------ --------------------- 6.7/14.3 MB 1.5 MB/s eta 0:00:06
   ------------------ --------------------- 6.8/14.3 MB 1.5 MB/s eta 0:00:06
   ------------------- -------------------- 6.9/14.3 MB 1.5 MB/s eta 0:00:06
   ------------------- -------------------- 6.9/14.3 MB 1.5 MB/s eta 0:00:05
   ------------------- -------------------- 7.0/14.3 MB 1.5 MB/s eta 0:00:05
   ------------------- -------------------- 7.0/14.3 MB 1.5 MB/s eta 0:00:05
   ------------------- -------------------- 7.1/14.3 MB 1.5 MB/s eta 0:00:05
   ------------------- -------------------- 7.1/14.3 MB 1.5 MB/s eta 0:00:05
   -------------------- ------------------- 7.2/14.3 MB 1.5 MB/s eta 0:00:05
   -------------------- ------------------- 7.3/14.3 MB 1.5 MB/s eta 0:00:05
   -------------------- ------------------- 7.3/14.3 MB 1.5 MB/s eta 0:00:05
   -------------------- ------------------- 7.4/14.3 MB 1.5 MB/s eta 0:00:05
   -------------------- ------------------- 7.5/14.3 MB 1.5 MB/s eta 0:00:05
   --------------------- ------------------ 7.5/14.3 MB 1.5 MB/s eta 0:00:05
   --------------------- ------------------ 7.6/14.3 MB 1.5 MB/s eta 0:00:05
   --------------------- ------------------ 7.7/14.3 MB 1.5 MB/s eta 0:00:05
   --------------------- ------------------ 7.8/14.3 MB 1.5 MB/s eta 0:00:05
   --------------------- ------------------ 7.9/14.3 MB 1.5 MB/s eta 0:00:05
   ---------------------- ----------------- 7.9/14.3 MB 1.5 MB/s eta 0:00:05
   ---------------------- ----------------- 8.0/14.3 MB 1.5 MB/s eta 0:00:05
   ---------------------- ----------------- 8.1/14.3 MB 1.5 MB/s eta 0:00:05
   ---------------------- ----------------- 8.1/14.3 MB 1.5 MB/s eta 0:00:05
   ---------------------- ----------------- 8.2/14.3 MB 1.5 MB/s eta 0:00:05
   ---------------------- ----------------- 8.2/14.3 MB 1.5 MB/s eta 0:00:05
   ----------------------- ---------------- 8.3/14.3 MB 1.5 MB/s eta 0:00:05
   ----------------------- ---------------- 8.4/14.3 MB 1.5 MB/s eta 0:00:05
   ----------------------- ---------------- 8.4/14.3 MB 1.5 MB/s eta 0:00:05
   ----------------------- ---------------- 8.5/14.3 MB 1.5 MB/s eta 0:00:04
   ----------------------- ---------------- 8.6/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------ --------------- 8.7/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------ --------------- 8.8/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------ --------------- 8.8/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------ --------------- 8.9/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------- -------------- 9.0/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------- -------------- 9.1/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------- -------------- 9.1/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------- -------------- 9.2/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------- -------------- 9.3/14.3 MB 1.5 MB/s eta 0:00:04
   ------------------------- -------------- 9.3/14.3 MB 1.5 MB/s eta 0:00:04
   -------------------------- ------------- 9.4/14.3 MB 1.5 MB/s eta 0:00:04
   -------------------------- ------------- 9.4/14.3 MB 1.5 MB/s eta 0:00:04
   -------------------------- ------------- 9.5/14.3 MB 1.5 MB/s eta 0:00:04
   -------------------------- ------------- 9.5/14.3 MB 1.5 MB/s eta 0:00:04
   -------------------------- ------------- 9.5/14.3 MB 1.5 MB/s eta 0:00:04
   -------------------------- ------------- 9.6/14.3 MB 1.5 MB/s eta 0:00:04
   -------------------------- ------------- 9.6/14.3 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.6/14.3 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 9.7/14.3 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 9.8/14.3 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 9.8/14.3 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 9.9/14.3 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 9.9/14.3 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.0/14.3 MB 1.4 MB/s eta 0:00:04
   ---------------------------- ----------- 10.1/14.3 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 10.1/14.3 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 10.2/14.3 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 10.2/14.3 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 10.3/14.3 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 10.4/14.3 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.4/14.3 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.5/14.3 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.6/14.3 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.6/14.3 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.7/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 10.8/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 10.9/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 11.0/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 11.0/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------ --------- 11.1/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------- -------- 11.1/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------- -------- 11.2/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------- -------- 11.2/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------- -------- 11.3/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------- -------- 11.3/14.3 MB 1.5 MB/s eta 0:00:03
   ------------------------------- -------- 11.4/14.3 MB 1.4 MB/s eta 0:00:03
   ------------------------------- -------- 11.4/14.3 MB 1.4 MB/s eta 0:00:03
   -------------------------------- ------- 11.5/14.3 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 11.5/14.3 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 11.6/14.3 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 11.6/14.3 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 11.7/14.3 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 11.7/14.3 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 11.8/14.3 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 11.8/14.3 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 11.9/14.3 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 12.0/14.3 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 12.0/14.3 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 12.1/14.3 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 12.2/14.3 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 12.3/14.3 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 12.4/14.3 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 12.4/14.3 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 12.5/14.3 MB 1.4 MB/s eta 0:00:02
   ----------------------------------- ---- 12.6/14.3 MB 1.4 MB/s eta 0:00:02
   ----------------------------------- ---- 12.7/14.3 MB 1.4 MB/s eta 0:00:02
   ----------------------------------- ---- 12.7/14.3 MB 1.4 MB/s eta 0:00:02
   ----------------------------------- ---- 12.8/14.3 MB 1.4 MB/s eta 0:00:02
   ----------------------------------- ---- 12.9/14.3 MB 1.4 MB/s eta 0:00:02
   ------------------------------------ --- 13.0/14.3 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 13.2/14.3 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 13.3/14.3 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.3 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.3 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 13.5/14.3 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.3 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 13.7/14.3 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 13.8/14.3 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.3 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  14.0/14.3 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  14.1/14.3 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 1.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [5]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [7]:
# csv to dataframe
df_buses_kerala=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_kerala.csv')
df_buses_Andhra=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_Andhra.csv')
df_buses_Telugana=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_Telugana.csv')
df_buses_Goa=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_Goa.csv')
df_buses_Rajasthan=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_Rajasthan.csv')
df_buses_SouthBengal=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_SouthBengal.csv')
df_buses_Haryana=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_Haryana.csv')
df_buses_Assam=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_Assam.csv')
df_buses_UttarPradesh=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_UttarPradesh.csv')
df_buses_WestBengal=pd.read_csv(r'C:\Users\kirub\OneDrive\Desktop\Redbus\df_buses_WestBengal.csv')

Final_df=pd.concat([df_buses_kerala,df_buses_Andhra,df_buses_Telugana,df_buses_Goa,df_buses_Rajasthan,df_buses_SouthBengal,
                    df_buses_Haryana,df_buses_Assam,df_buses_UttarPradesh,df_buses_WestBengal],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00,20:20,08h 20m,INR 945,9 Seats available,3.7\n125,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,21:25,07h 39m,INR 1099,19 Seats available,2.3\n30,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 129,SWIFT-GARUDA A/C SEATER BUS,14:15,23:05,08h 50m,INR 945,27 Seats available,4.2\n81,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,01:00,10h 00m,INR 801,15 Seats available,3.9\n15,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 97,Swift Deluxe Non AC Air Bus (2+2),16:00,00:45,08h 45m,INR 740,16 Seats available,2.4\n21,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2601,WBTC (CTC) KOLKATA - MAYAPUR - 47|06:15,Non AC Seater (2+3),06:15,10:40,04h 25m,INR 108,22 Seats available,3.8\n36,https://www.redbus.in/bus-tickets/kolkata-to-m...,Kolkata to Mayapur ISKCON
2602,WBTC (CTC) KOLKATA - KRISNANAGAR - MAYAPUR (AC...,Volvo AC Seater (2+2),07:00,11:20,04h 20m,INR 255,8 Seats available,4.7\n16,https://www.redbus.in/bus-tickets/kolkata-to-m...,Kolkata to Mayapur ISKCON
2603,WBTC (CTC) Habra-Midnapur - 194|14:45,Non AC Seater (2+3),14:45,17:40,02h 55m,INR 111,48 Seats available,3.7,https://www.redbus.in/bus-tickets/midnapore-to...,Midnapore to Kolkata Airport
2604,WBTC (CTC) Habra-Midnapur - 194|15:40,Non AC Seater (2+3),15:40,18:40,03h 00m,INR 111,38 Seats available,3.6\n23,https://www.redbus.in/bus-tickets/midnapore-to...,Midnapore to Kolkata Airport
2605,WBTC (CTC) Barasat-Midnapur - 208|17:00,Non AC Seater (2+3),17:00,19:00,02h 00m,INR 111,41 Seats available,3.7,https://www.redbus.in/bus-tickets/midnapore-to...,Midnapore to Kolkata Airport

In [9]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2606 entries, 0 to 2605
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2526 non-null   object
 1   Bus_type         2521 non-null   object
 2   Start_time       2526 non-null   object
 3   End_time         2526 non-null   object
 4   Total_duration   2526 non-null   object
 5   Price            2525 non-null   object
 6   Seats_Available  2523 non-null   object
 7   Ratings          2524 non-null   object
 8   Route_link       2606 non-null   object
 9   Route_name       2606 non-null   object
dtypes: object(10)
memory usage: 203.7+ KB

In [ ]:
print(Final_df["Price"].dtype)
Final_df["Price"] = Final_df["Price"].astype(str)
Final_df["Price"] = Final_df["Price"].str.replace("INR", "")
Final_df["Price"] = pd.to_numeric(Final_df["Price"], errors="coerce")
Final_df["Price"].fillna(0, inplace=True)

In [35]:
Final_df["Price"]

0        945.0
1       1099.0
2        945.0
3        801.0
4        740.0
         ...
2601     108.0
2602     255.0
2603     111.0
2604     111.0
2605     111.0
Name: Price, Length: 2606, dtype: float64

In [ ]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

In [45]:
Final_df["Ratings"]

0       3.7
1       2.3
2       4.2
3       3.9
4       2.4
       ...
2601    3.8
2602    4.7
2603    3.7
2604    3.6
2605    3.7
Name: Ratings, Length: 2606, dtype: float64

In [39]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2606 entries, 0 to 2605
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2526 non-null   object
 1   Bus_type         2521 non-null   object
 2   Start_time       2526 non-null   object
 3   End_time         2526 non-null   object
 4   Total_duration   2526 non-null   object
 5   Price            2606 non-null   float64
 6   Seats_Available  2523 non-null   object
 7   Ratings          2606 non-null   float64
 8   Route_link       2606 non-null   object
 9   Route_name       2606 non-null   object
dtypes: float64(2), object(8)
memory usage: 203.7+ KB

In [41]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [47]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [67]:
Final_df["Bus_type"]

0             SWIFT-GARUDA A/C SEATER BUS
1                           AC MULTI AXLE
2             SWIFT-GARUDA A/C SEATER BUS
3       Swift Deluxe Non AC Air Bus (2+2)
4       Swift Deluxe Non AC Air Bus (2+2)
                      ...
2601                  Non AC Seater (2+3)
2602                Volvo AC Seater (2+2)
2603                  Non AC Seater (2+3)
2604                  Non AC Seater (2+3)
2605                  Non AC Seater (2+3)
Name: Bus_type, Length: 2606, dtype: object

In [69]:
# Option 1: Fill missing values in Bus_type (replace None with a placeholder like 'Unknown')
Final_df['Bus_type'].fillna('Unknown', inplace=True)

In [75]:
# Check for missing values in Seats_Available
missing_seats = Final_df[Final_df['Seats_Available'].isnull()]
print(missing_seats)

                 Bus_name Bus_type Start_time End_time Total_duration  Price  \
112  KSRTC (Kerala) - 380  Unknown      16:15    22:50        06h 35m  617.0
113                  None  Unknown       None     None           None    0.0
114                  None  Unknown       None     None           None    0.0
115                  None  Unknown       None     None           None    0.0
116                  None  Unknown       None     None           None    0.0
..                    ...      ...        ...      ...            ...    ...
546                  None  Unknown       None     None           None    0.0
547                  None  Unknown       None     None           None    0.0
548                  None  Unknown       None     None           None    0.0
552                  None  Unknown       None     None           None    0.0
553                  None  Unknown       None     None           None    0.0

    Seats_Available  Ratings  \
112            None      3.8
113            None      0.0
114            None      0.0
115            None      0.0
116            None      0.0
..              ...      ...
546            None      0.0
547            None      0.0
548            None      0.0
552            None      0.0
553            None      0.0

                                            Route_link  \
112  https://www.redbus.in/bus-tickets/bangalore-to...
113  https://www.redbus.in/bus-tickets/bangalore-to...
114  https://www.redbus.in/bus-tickets/bangalore-to...
115  https://www.redbus.in/bus-tickets/bangalore-to...
116  https://www.redbus.in/bus-tickets/bangalore-to...
..                                                 ...
546  https://www.redbus.in/bus-tickets/kurnool-to-b...
547  https://www.redbus.in/bus-tickets/kurnool-to-b...
548  https://www.redbus.in/bus-tickets/kurnool-to-b...
552  https://www.redbus.in/bus-tickets/hyderabad-to...
553  https://www.redbus.in/bus-tickets/hyderabad-to...

                         Route_name
112  Bangalore to Kalpetta (kerala)
113  Bangalore to Kalpetta (kerala)
114  Bangalore to Kalpetta (kerala)
115  Bangalore to Kalpetta (kerala)
116  Bangalore to Kalpetta (kerala)
..                              ...
546            Kurnool to Bangalore
547            Kurnool to Bangalore
548            Kurnool to Bangalore
552            Hyderabad to Nandyal
553            Hyderabad to Nandyal

[83 rows x 10 columns]

In [ ]:
Final_df['Seats_Available'].fillna('0', inplace=True)  # Replace NaN with '0'

In [79]:
Final_df['Seats_Available'].replace('', '0', inplace=True)  # Replace empty strings with '0'

In [95]:
Final_df.dropna(subset=['Start_time'], inplace=True)  # Remove rows with NaN in Start_time

In [99]:
# change dataframe to csv
path="C:/Users/kirub/OneDrive/Desktop/Redbus/Final_df.csv"
Final_df.to_csv(path,index=False)

In [59]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Kiru@2000",
    
)
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [61]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Kiru@2000",
    database="RED_BUS_DETAILS"
)
my_cursor = conn.cursor()

In [63]:
#'''The ID column will increment automatically each time a new row is added, providing a unique, 
#sequential identifier for each bus record. This approach keeps the data organized, ensures uniqueness, 
#and simplifies data management within the bus_details table.'''


# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [97]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully